---
- name: Set fact with downloaded file for use from caller role
  set_fact:
    # noqa var-naming
    '{{ download_result_var }}': '{{ download_win_tmp }}\{{ download_url | basename }}'
    download_local_path: '{{ playbook_dir }}/files/{{ download_win_dir }}/{{ download_url | basename }}'

- name: Create target download directory
  win_file:
    path: '{{ download_win_tmp }}'
    state: directory

- name: Download file to local host
  when: not lookup('fileglob', download_local_path, errors='ignore')
  block:
    # The local directory could be complicated so worth to make sure it exists
    - name: Create local download directory
      delegate_to: localhost
      file:
        path: '{{ download_local_path | dirname }}'
        state: directory

    - name: Download {{ download_url }} binary and verify checksum
      when: not lookup('fileglob', download_local_path, errors='ignore')
      delegate_to: localhost
      get_url:
        url: '{{ download_url }}'
        headers: '{{ download_headers }}'
        dest: '{{ download_local_path }}'
        mode: '0440'
        checksum: '{{ download_sum|default(omit) }}'

# Win task is used only for win remote so no need additional checks here
- name: Push archive {{ download_local_path }} to target {{ vars[download_result_var] }} from the localhost files
  win_copy:
    src: '{{ download_local_path }}'
    dest: '{{ vars[download_result_var] }}'

# We need to validate file when it's copied by the next reasons:
# - the localhost copied file could be corrupted
# - during making of playbooks it's easy to forgot to update checksum of the file
# - the copy process potentially could transfer files wrong
- name: Make sure the copied file {{ vars[download_result_var] }} checksum is ok
  when: (download_sum|default('')|length > 0) and (download_sum != omit)
  register: reg_remote_file
  win_stat:
    path: '{{ vars[download_result_var] }}'
    checksum_algorithm: '{{ download_sum.split(":") | first }}'
  failed_when: reg_remote_file.stat.checksum != (download_sum.split(":") | last)
  tags:
    - download_checksum_verify
