/.venv
/out
/records
/packer_cache

/override.yml

/specs/*.json
/specs/**/*.json
/specs_deprecated/*.json
/specs_deprecated/**/*.json

# We don't need any modifications in init until it's necessary (use -f if really needed)
/init

/iso/*
!/iso/*.md

/playbooks/files/*
!/playbooks/files/*.md

.DS_Store
