/.venv
/out
/records
/packer_cache

/packer/*.json
/packer/**/*.json

# We don't need any modifications in init until it's necessary (use -f)
/init

/iso/*
!/iso/*.md

/playbooks/files/*
!/playbooks/files/*.md

/screenshot-packer/screenshot-packer

.DS_Store
