# Script to allow currently blocked kernel extensions
# Open the system preferences
key ctrl-f2 pause 1 key down key down key down pause 1 key enter pause 5

# Open Security item
type "security" pause 1 key down key enter pause 10

# Enter voiceover
key super-f5 pause 5 key right pause 1 key right pause 1 key esc pause 3

# Click on unlocking the admin changes
key shift-tab pause 1 key shift-tab pause 1 key shift-tab pause 1 key shift-tab pause 1 key space pause 3

# Enter password
type "{{ ansible_sudo_pass }}" pause 1 key enter pause 2

# Go to Allow button and click it
key shift-tab pause 1 key alt-ctrl-up pause 1 key space

# Disable voiceover
key super-f5 pause 5

# Restart the system via popup window and wait
key space pause 120

# Login with password
type "{{ ansible_sudo_pass }}" pause 1 key enter pause 10
