<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>aquarium.ci.agent</string>

    <key>UserName</key>
    <string>jenkins</string>
    <key>GroupName</key>
    <string>jenkins</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>JAVA_HOME</key>
      <string>{{ java_home }}</string>
    </dict>

    <key>Program</key>
    <string>{{ script_path }}</string>
    <key>WorkingDirectory</key>
    <string>/Users/jenkins</string>

    <key>SessionCreate</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>NetworkState</key>
        <true/>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/jenkins/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jenkins/stderr.log</string>
</dict>
</plist>
